@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #1f1f38;
  color: #fff;
  line-height: 1.7;
}

.container {
  width: 75%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
  height: 100vh;
}
section h2, section h5 {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
section h2 {
  color: #4db5ff;
  margin-bottom: 3rem;
}

.text-light {
  color: rgba(255, 255, 255, 0.6);
}

a {
  color: #4db5ff;
  transition: all 400ms ease;
}
a:hover {
  color: #fff;
}

.btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
  color: #4db5ff;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid #4db5ff;
  transition: all 400ms ease;
}
.btn:hover {
  background-color: #fff;
  color: #1f1f38;
  border-color: transparent;
}
.btn-primary {
  background: #4db5ff;
  color: #1f1f38;
}

img {
  display: flex;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 86%;
  }
  section {
    margin-top: 6rem;
  }
  header {
    height: 68vh;
  }
  .about__container {
    flex-direction: column;
  }
  .about__me {
    width: 50% !important;
    margin: 2rem auto 4rem;
  }
  .about__content {
    text-align: center;
  }
  .about__content p {
    margin: 1rem 0 1.5rem;
  }
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
  .contact__container {
    grid-template-columns: 1fr;
  }
  #experience {
    margin-top: 32rem;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
  section h2 {
    margin-bottom: 2rem;
  }
  header {
    height: 100vh;
  }
  header .scroll__down {
    display: none;
  }
  header .header__socials {
    display: none;
  }
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }
  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .about__content {
    text-align: center;
  }
  .about__content p {
    margin: 1.5rem 0;
  }
  .portfolio__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2rem;
  }
  .contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}
header .header__container {
  text-align: center;
  height: 100%;
  position: relative;
}
header .header__container .cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
header .header__container .header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}
header .header__container .header__socials::after {
  content: "";
  height: 2rem;
  width: 1px;
  background: #4db5ff;
}
header .header__container .header__socials::before {
  content: "";
  height: 2rem;
  width: 1px;
  background: #4db5ff;
}
header .header__container .header__socials a {
  font-size: 2rem;
}
header .header__container .me {
  background: linear-gradient(#4db5ff, transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
  overflow: hidden;
}
header .header__container .scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
}

nav {
  background: rgba(0, 0, 0, 0.3);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
nav a {
  background: transparent;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.1rem;
}
nav a:hover {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
nav a.active {
  background: #1f1f38;
  color: #fff;
}

.about__container {
  display: flex;
  justify-content: space-between;
}

.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, #4db5ff, transparent);
  display: grid;
  place-items: center;
  margin-right: 5rem;
}
.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: all 400ms ease;
}
.about__me-image:hover {
  transform: rotate(0);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.about__cards .about__card {
  background: #2c2c6c;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: all 400ms ease;
  cursor: pointer;
}
.about__cards .about__card:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
}
.about__cards .about__card .about__icon {
  color: #4db5ff;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.about__cards .about__card h5 {
  font-size: 0.95rem;
  color: #fff;
}
.about__cards .about__card small {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.6);
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: rgba(255, 255, 255, 0.6);
}

.experience__container {
  display: flex;
  justify-content: space-around;
}
.experience__container div {
  background: #2c2c6c;
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}
.experience__container div:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
  cursor: pointer;
}
.experience__container div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: #4db5ff;
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.portfolio__container .portfolio__item {
  background: #2c2c6c;
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: all 400ms ease;
}
.portfolio__container .portfolio__item:hover {
  border-color: rgba(77, 181, 255, 0.4);
  background: transparent;
}
.portfolio__container .portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}
.portfolio__container .portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}

.testimonials__container {
  width: 40%;
}
.testimonials__container .client__avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid rgba(77, 181, 255, 0.4);
}
.testimonials__container .testimonial {
  background: rgba(77, 181, 255, 0.4);
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.testimonials__container .client__rewiev {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}
.testimonials__container .client__name {
  color: #fff;
}

.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}
.contact__container .contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact__container .contact__option {
  background: #2c2c6c;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: all 400ms ease;
}
.contact__container .contact__option:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
}
.contact__container .contact__option .contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.contact__container form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contact__container form input, .contact__container form textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid rgba(77, 181, 255, 0.4);
  resize: none;
  color: #fff;
}/*# sourceMappingURL=main.css.map */